In [1]:
# Answer 1

str = "hello"
list = [12,43,54,66,56,54]
float = 13.456
tuple = (1,3,"xyz",4,8)

In [2]:
# Answer 2
var1 = ' '
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 =1

In [3]:
type(var1)

str

In [4]:
type(var2)

str

In [5]:
type(var3)

list

In [6]:
type(var4)

int

In [8]:
# Answer 3
# When
a=4
b=2

In [9]:
a/b

2.0

In [11]:
a%b

0

In [12]:
a//b

2

In [13]:
a**b

16

In [15]:
# Answer 4

L= [45,78.67,34,"day",True,0,(54,"viva","ROG",12.3),False,None, 5100]
for i in L:
    print(i,type(i))

45 <class 'int'>
78.67 <class 'float'>
34 <class 'int'>
day <class 'str'>
True <class 'bool'>
0 <class 'int'>
(54, 'viva', 'ROG', 12.3) <class 'tuple'>
False <class 'bool'>
None <class 'NoneType'>
5100 <class 'int'>

In [16]:
# Answer 5

A=int(input("Enter the value of A: "))
B=int(input("Enter the value of B: "))

count = 0

while A%B==0:
    count+=1
    A=A/B
    if count>0:
        print("Number A is purely divisibile by B ",count,"times.")
    else:
        print("Number A is not purely divisible by B.")

Enter the value of A:  20
Enter the value of B:  4

Number A is purely divisibile by B  1 times.

In [17]:
# Answer 6
# let s be list of 25 integers
s=[3,45,63,34,12,8,76,77,42,14,67,87,9,5,6,56,51,87,66,48,41,78,60,99]
count = 0
for i in s:
    if i%3==0:
        print(i)

3
45
63
12
42
87
9
6
51
87
66
48
78
60
99

In [20]:
# Answer 7

# Mutable data:- the type of data which allows you to change its value without changing its identity by the process of mutation.
# Lists are example of mutable data
L1=[1,2,3,4,5,6,7,8,9]

In [22]:
type(L1)

list

In [24]:
L1[0] = 6

In [25]:
L1

[6, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# as we can see after doing modification, the data of list L1 change.

In [27]:
# Immutable Data:- this is the type of data which doesn't allow us to do an kind of modification or mutation in it.
# Tuple is one kind of imutable data.
T1= (1,2,3,4,5)

In [28]:
type(T1)

tuple

In [29]:
T1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# As wee can see when we try to modify data in Tupple it shows ERROR.
                                            
    
                                                    # THANK YOU